In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
998,tt1024648,44500000,232324128,Argo,Ben Affleck|Bryan Cranston|Alan Arkin|John Goo...,Ben Affleck,The movie was fake. The mission was real.,As the Iranian revolution reaches a boiling po...,120,Drama|Thriller,GK Films|Warner Bros.|Smokehouse Pictures,10/11/2012,7.0,2012
566,tt0230838,40000000,65754228,Sweet November,Keanu Reeves|Charlize Theron|Jason Isaacs|Greg...,Pat O'Connor,She Just Needed A Month To Change His Life For...,Nelson is a man devoted to his advertising car...,119,Drama|Romance,Bel Air Entertainment|Warner Bros.,2/16/2001,6.5,2001
432,tt1235189,8000000,3453043,Wild Target,Bill Nighy|Emily Blunt|Rupert Grint|Rupert Eve...,Jonathan Lynn,They said 'Take her out'. He got the wrong idea.,"Victor Maynard is a middle-aged, solitary assa...",98,Action|Comedy,Matador Pictures|Isle of Man Film|Magic Light ...,6/17/2010,6.1,2010
1218,tt1288558,17000000,97542952,Evil Dead,Jane Levy|Jessica Lucas|Shiloh Fernandez|Lou T...,Fede Alvarez,The most terrifying film you will ever experie...,"Evil Dead, the fourth installment of the Evil ...",91,Horror,TriStar Pictures|Ghost House Pictures|FilmDist...,4/5/2013,6.3,2013
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,"[5, 13, 2015]",7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,"[3, 18, 2015]",6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,"[12, 15, 2015]",7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,"[4, 1, 2015]",7.3,2015,1316249360,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,"[7, 13, 2000]",6.6,2000,82299717,7
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,"[10, 27, 2000]",6.4,2000,-8444012,10
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,"[6, 30, 2000]",4.0,2000,-40865180,6
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,"[2, 16, 2000]",5.2,2000,-3962091,2
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,"[7, 19, 2000]",5.2,2000,-9782502,7

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] ==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,5

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by='budget',ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.loc[data['runtime'] ==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
display(data.loc[data['runtime'] ==data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
display(data.loc[data.profit==data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
display(data.loc[data.profit==data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1. 1478'
display(len(data[data.profit>0]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
answers['9'] = '4. The Dark Knight (tt0468569))'
s=data[data.release_year==2008]
display(s.loc[s.revenue==s.revenue.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
s=data[data.release_year.isin([2012,2013,2014])]
display(s.loc[s.profit==s.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

In [21]:
# вариант 2
data.loc[(data.release_year <= 2014)&(data.release_year>=2012)].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
data2 = data.copy()
pd.Series(data2['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [23]:
# берем исходный датафрейм
data2 = data.copy()
# genres - делим по |

data2.genres = data2['genres'].str.split('|')
genres_set = {}
# определяем функцию счетчик
def genres_num(genres_mov):
    for i in genres_mov:
        if i in genres_set:
            genres_set[i] += 1
        else:
            genres_set[i] = 1
    return genres_set

# считаем
data2['genres'].apply(genres_num)
pd.Series(genres_set).sort_values(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
answers['12'] = '1. Drama'
data2=data.copy()
pd.Series(data2[data2.profit>0].genres.str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
answers['13'] = '5. Peter Jackson'
data2=data.copy()
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2=data2.explode('director')
data2.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
answers['14'] = '3. Robert Rodriguez'
data2=pd.read_csv('movie_bd_v5.csv')
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2=data2.explode('director')
data2.genres = data2['genres'].str.split('|')
# или так data2['genres'] = data2['genres'].apply(lambda x:x.split('|'))
data2=data2.explode('genres')
data2[data2.genres=='Action'].groupby(['director'])['genres'].count().sort_values(ascending = False).head(1)

director
Robert Rodriguez    9
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
answers['15'] = '3. Chris Hemsworth'
data2=pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2=data2.explode('cast')
data2[data2.release_year==2012].groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
answers['16'] = '3. Matt Damon'
data2=pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2=data2.explode('cast')
data2[data2.budget > data2.budget.mean()].groupby(['cast'])['revenue'].count().sort_values(ascending = False).head(1)

cast
Matt Damon    18
Name: revenue, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
answers['17'] = '2. Action'
data2=pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2=data2.explode('cast')
data2.genres = data2['genres'].str.split('|')
# или так data2['genres'] = data2['genres'].apply(lambda x:x.split('|'))
data2=data2.explode('genres')
data2[data2.cast == 'Nicolas Cage'].groupby(['genres'])['revenue'].count().sort_values(ascending = False).head(1)

genres
Action    17
Name: revenue, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data2=pd.read_csv('movie_bd_v5.csv')
data2['profit'] = data2.revenue - data2.budget
data2['production_companies'] = data2['production_companies'].apply(lambda x: x.split('|'))
data2=data2.explode('production_companies')
display(data2.loc[(data2['profit']==data2[data2.production_companies == 'Paramount Pictures'].profit.min())
                 &(data2.production_companies == 'Paramount Pictures')])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [ ]:
# вариант 2 - без разрыва по компании
data2 = data[data.production_companies.str.contains("Paramount Pictures")]
data2[data2['profit'] == data2['profit'].min()].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answers['19'] = '5. 2015'
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
answers['20'] = '1. 2014'
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answers['21'] = '4. Сентябрь'
data.groupby(['month'])['budget'].count().sort_values(ascending = False).head(1)

month
9    227
Name: budget, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answers['22'] = '2. 450'
len(data[(data.month=='6')|(data.month=='7')|(data.month=='8')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = '5. Peter Jackson'
data2=data.copy()
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2=data2.explode('director')
display(data2[(data2.month=='12')|(data2.month=='1')|(data2.month=='2')].groupby(['director'])['imdb_id'].count().sort_values(ascending = False).head(1))
# или так
data2[data2.month.isin(['12','1','2'])].director.value_counts().head(1).index[0]

director
Peter Jackson    7
Name: imdb_id, dtype: int64

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
answers['24'] = '5. Four By Two Productions'
data2=data.copy()
data2['title_length'] = data2['original_title'].map(lambda x: len(x))
data2['production_companies'] = data2['production_companies'].map(lambda x: x.split('|'))
data2=data2.explode('production_companies')

data2.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
answers['25'] = '3. Midnight Picture Show'
data2=data.copy()
data2['production_companies'] = data2['production_companies'].map(lambda x: x.split('|'))
data2=data2.explode('production_companies')
data2['overview_length'] = data2['overview'].str.split(' ').apply(lambda x: len(x))

data2.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data2=data.copy()
display(data2.query('vote_average > vote_average.quantile(0.99)')['original_title'])

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [39]:
# вариант 2
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [43]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
from itertools import combinations
data2=data.copy()
data2['cast'] = data2['cast'].str.split('|')
data_pairs = data2['cast'].reset_index()
data_pairs['act_pairs'] = data_pairs['cast'].apply(lambda s: list(combinations(s, 2)))
data_pairs = data_pairs.explode('act_pairs').reset_index()
Counter(data_pairs['act_pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [50]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569))',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [51]:
# и убедиться что ни чего не пропустил)
len(answers)

27