In [137]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from itertools import combinations

pd.set_option('display.max_rows', 50)  # показывать больше строк
pd.set_option('display.max_columns', 50)  # показывать больше колонок

In [138]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
49,tt2503944,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia Vikander|Uma Thurman,John Wells,Never underestimate a man with everything to lose.,"Adam Jones is a Chef who destroyed his career with drugs and diva behavior. He cleans up and returns to London, determined to redeem himself by spearheading a top restaurant that can gain three Michelin stars.",100,Drama,Double Feature Films|PeaPie Films|3 Arts Entertainment,10/2/2015,6.3,2015
135,tt1956620,40000000,126069509,Sex Tape,Cameron Diaz|Jason Segel|Rob Corddry|Ellie Kemper|Rob Lowe,Jake Kasdan,A movie about a movie they don't want you to see.,"When Jay and Annie first got together, their romantic connection was intense â€“ but ten years and two kids later, the flame of their love needs a spark. To kick things up a notch, they decide â€“ why not? â€“ to make a video of themselves trying out every position in The Joy of Sex in one mara...",97,Comedy,Escape Artists|Media Rights Capital|Sony Pictures Entertainment (SPE)|LStar Capital,7/17/2014,5.3,2014
1223,tt1951261,103000000,362000072,The Hangover Part III,Bradley Cooper|Ed Helms|Zach Galifianakis|Justin Bartha|Ken Jeong,Todd Phillips,It all ends.,"This time, there's no wedding. No bachelor party. What could go wrong, right? But when the Wolfpack hits the road, all bets are off.",100,Comedy,Legendary Pictures|Green Hat Films,5/23/2013,6.0,2013
1364,tt0332047,30000000,50451307,Fever Pitch,Drew Barrymore|Jimmy Fallon|Jason Spevack|Jack Kehler|Maureen Keiller,Bobby Farrelly|Peter Farrelly,A Comedy About The Game of Love.,"When relaxed and charming Ben Wrightman meets workaholic Lindsey Meeks she finds him sweet and charming, they hit it off and when it is winter Ben can spend every waking hour with Lindsey, but when summer comes around the corner Lindsey discovers Ben's obsession with the Boston Red Sox. She thin...",103,Comedy|Drama|Romance,Fox 2000 Pictures|Wildgaze Films|Alan Greenspan Productions|Mars Media Beteiligungs|Flower Films (II),4/6/2005,5.7,2005
1131,tt0324216,9500000,107071655,The Texas Chainsaw Massacre,Jessica Biel|Jonathan Tucker|Erica Leerhsen|Mike Vogel|Eric Balfour,Marcus Nispel,What you know about fear... doesn't even come close.,"After picking up a traumatized young hitchhiker, five friends find themselves stalked and hunted by a deformed chainsaw-wielding killer and his family of equally psychopathic killers.",98,Horror,New Line Cinema|Next Entertainment|Platinum Dunes|Radar Pictures|Focus Features,10/17/2003,6.0,2003

In [139]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

## Предобработка

In [140]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vincent D'Onofrio|Nick Robinson,Colin Trevorrow,The park is open.,"Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.",124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu,"[6, 9, 2015]",6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nicholas Hoult|Josh Helman,George Miller,What a Lovely Day.,"An apocalyptic story set in the furthest reaches of our planet, in a stark desert landscape where humanity is broken, and most everyone is crazed fighting for the necessities of life. Within this world exist two rebels on the run who just might be able to restore order. There's Max, a man of act...",120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Productions,"[5, 13, 2015]",7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel Elgort|Miles Teller,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons and continue her fight against a powerful alliance which threatens to tear her society apart.,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel,"[3, 18, 2015]",6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam Driver|Daisy Ridley,J.J. Abrams,Every generation has a story.,"Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.",136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,"[12, 15, 2015]",7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle Rodriguez|Dwayne Johnson,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights Capital|Dentsu|One Race Films,"[4, 1, 2015]",7.3,2015,1316249360,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Halle Berry|Famke Janssen,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a private academy for their kind whose resident superhero team, the X-Men, must oppose a terrorist organization with similar powers.",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|Springwood Productions,"[7, 13, 2000]",6.6,2000,82299717,7
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|Alice Krige|Pamela Gidley,Uli Edel,"They're not just best friends, they're blood brothers.","Based on the popular books, the story tells of Tony who wants a friend to add some adventure to his life. What he gets is Rudolph, a vampire kid with a good appetite. The two end up inseparable, but their fun is cut short when all the hopes of the vampire race could be gone forever in single nig...",95,Horror|Family|Foreign,New Line Cinema,"[10, 27, 2000]",6.4,2000,-8444012,10
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy Quaid|Robert De Niro,Des McAnuff,This summer it's not the same old bull.,"Rocky and Bullwinkle have been living off the finances made from the reruns of their cartoon show. Boris and Natasha somehow manage to crossover into reality and team up with Fearless Leader, an evil criminal turned media mogul with some evil plans up his sleeve. Rocky and Bullwinkle must stop t...",88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Medien AG|Tribeca Productions,"[6, 30, 2000]",4.0,2000,-40865180,6
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matthau|Adam Arkin,Diane Keaton,Every family has a few hang-ups.,"A trio of sisters bond over their ambivalence toward the approaching death of their curmudgeonly father, to whom none of them was particularly close.",94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Corporation|Global Entertainment Productions GmbH & Company Medien KG|Nora Ephron Productions,"[2, 16, 2000]",5.2,2000,-3962091,2
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan Bexton|Tess Harper,Mary Lambert,What would you do to get in?,"A mentally disturbed young woman takes a job at a posh country club and falls in with a clique of wealthy college kids where she's taken under the wing of the clique's twisted leader, who harbors some dark secrets too terrifying to tell.",105,Thriller,Warner Bros. Pictures,"[7, 19, 2000]",5.2,2000,-9782502,7

# У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [141]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [142]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian McShane|Kevin McNally,Rob Marshall,Live Forever Or Die Trying.,"Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds h...",136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|Moving Picture Company (MPC),"[5, 11, 2011]",6.3,2011,641683000,5

ВАРИАНТ 2

In [143]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian McShane|Kevin McNally,Rob Marshall,Live Forever Or Die Trying.,"Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds h...",136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|Moving Picture Company (MPC),"[5, 11, 2011]",6.3,2011,641683000,5

# Какой из фильмов самый длительный (в минутах)?

In [144]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [145]:
data.loc[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin Conway|C. Thomas Howell,Ronald F. Maxwell,The nations heart was touched by...,"The film centers mostly around the personal and professional life of Thomas ""Stonewall"" Jackson, a brilliant if eccentric Confederate general, from the outbreak of the American Civil War until its halfway point when Jackson is killed accidentally by his own soldiers in May 1863 during his greate...",214,Drama|History|War,Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,2

#  Какой из фильмов самый короткий (в минутах)?

In [146]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [147]:
display(data.loc[data['runtime'] == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luckey|Craig Ferguson,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, Winnie the Pooh sets out to find some honey. Misinterpreting a note from Christopher Robin, Pooh convinces Tigger, Rabbit, Piglet, Owl, Kanga, Roo, and Eeyore that their young friend has been captured by a creature named ""Backson"" and they set out to ...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Studios,"[4, 13, 2011]",6.8,2011,-15540000,4

# Какова средняя длительность фильмов?

In [148]:
answers['4'] = '2. 110'

In [149]:
print(round(data.runtime.mean()))

110

# Каково медианное значение длительности фильмов?

In [150]:
answers['5'] = '1. 107'

In [151]:
data.runtime.median()

107.0

# Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [152]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
display(data.loc[data.profit == data.profit.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|Stephen Lang|Michelle Rodriguez,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox Film Corporation|Dune Entertainment|Lightstorm Entertainment,"[12, 10, 2009]",7.1,2009,2544505847,12

# Какой фильм самый убыточный?

In [153]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
display(data.loc[data.profit == data.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Gore Verbinski,Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Sil...",149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Productions (II)|Blind Wink Productions,"[7, 3, 2013]",6.0,2013,-165710090,7

# У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [154]:
answers['8'] = '1. 1478'
display(len(data[data.profit > 0]))

1478

# Какой фильм оказался самым кассовым в 2008 году?

In [155]:
answers['9'] = '4. The Dark Knight (tt0468569))'
s = data[data.release_year == 2008]
display(s.loc[s.revenue == s.revenue.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaron Eckhart|Gary Oldman,Christopher Nolan,Why So Serious?,"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of cha...",152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,7

# Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [156]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
s = data[data.release_year.isin([2012, 2013, 2014])]
display(s.loc[s.profit == s.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Gore Verbinski,Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Sil...",149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Productions (II)|Blind Wink Productions,"[7, 3, 2013]",6.0,2013,-165710090,7

In [157]:
# вариант 2
data.loc[(data.release_year <= 2014) & (data.release_year >= 2012)
         ].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Gore Verbinski,Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Sil...",149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Productions (II)|Blind Wink Productions,"[7, 3, 2013]",6.0,2013,-165710090,7

# Какого жанра фильмов больше всего?

In [158]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
data2 = data.copy()

pd.Series(data2['genres'].str.cat(sep='|').split('|')).value_counts().iloc[[0]]

Drama    782
dtype: int64

ВАРИАНТ 2

In [159]:
# берем исходный датафрейм
data2 = data.copy()
# genres - делим по |

data2.genres = data2['genres'].str.split('|')
genres_set = pd.Series(dtype='float64')
# определяем функцию счетчик


def genres_num(genres_mov):
    for i in genres_mov:
        if i in genres_set:
            genres_set[i] += 1
        else:
            genres_set[i] = 1
    return genres_set


# считаем
data2['genres'].apply(genres_num)
genres_set.sort_values(ascending=False, inplace=True)
genres_set.iloc[[0]]

Drama    782
dtype: int64

ВАРИАНТ 3

In [160]:
# берем исходный датафрейм
data2 = data.copy()
# genres - делим по |
data2.genres = data2['genres'].str.split('|', expand=False)

count = collections.Counter()
for i in data2.genres:
    for gen in i:
        count[gen]+=1
        
count.most_common(1)

[('Drama', 782)]

# Фильмы какого жанра чаще всего становятся прибыльными?

In [161]:
answers['12'] = '1. Drama'
data2 = data.copy()
pd.Series(data2[data2.profit > 0].genres.str.cat(
    sep='|').split('|')).value_counts().iloc[[0]]

Drama    560
dtype: int64

# У какого режиссера самые большие суммарные кассовые сборы?

In [162]:
answers['13'] = '5. Peter Jackson'
data2 = data.copy()
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2 = data2.explode('director')
data2.groupby(['director'])['revenue'].sum(
).sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# Какой режисер снял больше всего фильмов в стиле Action?

In [163]:
answers['14'] = '3. Robert Rodriguez'

data2 = pd.read_csv('movie_bd_v5.csv')
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2 = data2.explode('director')
data2.genres = data2['genres'].str.split('|')
# или так data2['genres'] = data2['genres'].apply(lambda x:x.split('|'))
data2 = data2.explode('genres')
data2[data2.genres == 'Action'].groupby(
    ['director'])['genres'].count().sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: genres, dtype: int64

# Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [164]:
answers['15'] = '3. Chris Hemsworth'
data2 = pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2 = data2.explode('cast')
data2[data2.release_year == 2012].groupby(
    ['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# Какой актер снялся в большем количестве высокобюджетных фильмов?

In [165]:
answers['16'] = '3. Matt Damon'
data2 = pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2 = data2.explode('cast')
data2[data2.budget > data2.budget.mean()].groupby(
    ['cast'])['revenue'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: revenue, dtype: int64

# В фильмах какого жанра больше всего снимался Nicolas Cage?

In [166]:
answers['17'] = '2. Action'
data2 = pd.read_csv('movie_bd_v5.csv')
data2['cast'] = data2['cast'].apply(lambda x: x.split('|'))
data2 = data2.explode('cast')
data2.genres = data2['genres'].str.split('|')
# или так data2['genres'] = data2['genres'].apply(lambda x:x.split('|'))
data2 = data2.explode('genres')
data2[data2.cast == 'Nicolas Cage'].groupby(
    ['genres'])['revenue'].count().sort_values(ascending=False).head(1)

genres
Action    17
Name: revenue, dtype: int64

# Самый убыточный фильм от Paramount Pictures

In [167]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data2 = pd.read_csv('movie_bd_v5.csv')
data2['profit'] = data2.revenue - data2.budget
data2['production_companies'] = data2['production_companies'].apply(
    lambda x: x.split('|'))
data2 = data2.explode('production_companies')
display(data2.loc[(data2['profit'] == data2[data2.production_companies == 'Paramount Pictures'].profit.min())
                  & (data2.production_companies == 'Paramount Pictures')])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss Ackland|John Shrapnel,Kathryn Bigelow,Fate has found its hero.,"When Russia's first nuclear submarine malfunctions on its maiden voyage, the crew must race to save the ship and prevent a nuclear disaster.",138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [168]:
# вариант 2 - без разрыва по компании
data2 = data[data.production_companies.str.contains("Paramount Pictures")]
data2[data2['profit'] == data2['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# Какой год стал самым успешным по суммарным кассовым сборам?

In [169]:
answers['19'] = '5. 2015'
data.groupby(['release_year'])['revenue'].sum(
).sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

#  Какой самый прибыльный год для студии Warner Bros?

In [170]:
answers['20'] = '1. 2014'
data[data.production_companies.str.contains('Warner Bros')].groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# В каком месяце за все годы суммарно вышло больше всего фильмов?

In [171]:
answers['21'] = '4. Сентябрь'
data.groupby(['month'])['budget'].count().sort_values(ascending=False).head(1)

month
9    227
Name: budget, dtype: int64

#  Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [172]:
answers['22'] = '2. 450'
len(data[(data.month == '6') | (data.month == '7') | (data.month == '8')])

450

# Для какого режиссера зима – самое продуктивное время года?

In [173]:
answers['23'] = '5. Peter Jackson'
data2 = data.copy()
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2 = data2.explode('director')
display(data2[(data2.month == '12') | (data2.month == '1') | (data2.month == '2')].groupby(
    ['director'])['imdb_id'].count().sort_values(ascending=False).head(1))
# или так
data2[data2.month.isin(['12', '1', '2'])
      ].director.value_counts().head(1).index[0]

director
Peter Jackson    7
Name: imdb_id, dtype: int64

'Peter Jackson'

#  Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [174]:
answers['24'] = '5. Four By Two Productions'
data2 = data.copy()
data2['title_length'] = data2['original_title'].map(lambda x: len(x))
data2['production_companies'] = data2['production_companies'].map(
    lambda x: x.split('|'))
data2 = data2.explode('production_companies')

data2.groupby(['production_companies'])[
    'title_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [175]:
answers['25'] = '3. Midnight Picture Show'
data2 = data.copy()
data2['production_companies'] = data2['production_companies'].map(
    lambda x: x.split('|'))
data2 = data2.explode('production_companies')
data2['overview_length'] = data2['overview'].str.split(
    ' ').apply(lambda x: len(x))

data2.groupby(['production_companies'])[
    'overview_length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: overview_length, dtype: float64

#  Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [176]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data2 = data.copy()
display(data2.query('vote_average > vote_average.quantile(0.99)')
        ['original_title'])

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [177]:
# вариант 2
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)[
    'vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# Какие актеры чаще всего снимаются в одном фильме вместе?

In [178]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

pd.options.display.max_colwidth = 300
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|')
data_pairs = data2['cast'].reset_index()

data_pairs['act_pairs'] = data_pairs['cast'].apply(
    lambda s: list(combinations(s, 2)))
        
data_pairs = data_pairs.explode('act_pairs').reset_index()
data_pairs['act_pairs'].value_counts()

(Daniel Radcliffe, Emma Watson)              8
(Daniel Radcliffe, Rupert Grint)             8
(Rupert Grint, Emma Watson)                  7
(Johnny Depp, Helena Bonham Carter)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Bruce Dern, Annie Corley)                   1
(Rene Russo, Sean Faris)                     1
(Christopher Mintz-Plasse, David Tennant)    1
(Adam Sandler, Leighton Meester)             1
(Donald Sutherland, Ming-Na Wen)             1
Name: act_pairs, Length: 18121, dtype: int64

ВАРИАНТ 2

In [179]:
#pd.options.display.max_colwidth = 300
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|')
data_pairs = data2['cast'].reset_index()

data_pairs['act_pairs'] = data_pairs['cast'].apply(
    lambda x: list(tuple(sorted(comb)) for comb in combinations(x, 2)))

data_pairs = data_pairs.explode('act_pairs').reset_index()
data_pairs['act_pairs'].value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Emma Stone, Julianne Moore)           1
(Kris Kristofferson, Nathan Gamble)    1
(Marton Csokas, Orlando Bloom)         1
(Cameron Diaz, Lucy Punch)             1
(Donald Sutherland, Ming-Na Wen)       1
Name: act_pairs, Length: 17943, dtype: int64

# Submission

In [180]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569))',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [181]:
# и убедиться что ни чего не пропустил)
len(answers)

27